/* 
FONTS

font-family: 'Rubik', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Montserrat', sans-serif;

#cc3333
#f89938
#ffc70f

*/

/* * */

:root {
  --darkgray: #2c2c2c;
  --red: #cc3333;
  --orange: #f89938;
  --yellow: #ffc70f;
  --transwhite: rgba(255, 255, 255, 0.6);
  --transition_duration: 0.25s
}

html,
body,
h1,
#aboutvision p {
  margin: 0;
  padding: 0;
  min-width: 100%;
}

/* NAV */

nav a {
  transition-duration: var(--transition_duration)
}

nav {
  display: flex;
  text-align: center;
}

nav a {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  line-height: 100px;
  width: calc(100% / 3);
  display: block;
  color: white;
  background-color: var(--darkgray);
}

nav a:hover {
  color: black;
  background-color: var(--yellow);
}

/* FOOTER */

footer {
  display: block;
  width: 100%;
  height: 200px;
  color: white;
  background-color: var(--yellow)
}

/* HOME */

#landingpage {
  padding-top: 137px;
  padding-bottom: 137px;
  width: 100%;
  background-image: url(../images/laurent-perren-477138-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#landingpage-greeting {
  padding: 100px;
  text-align: center;
  margin: auto;
  width: 90%;
  background-color: var(--transwhite);
  color: #2c2c2c;
}

#landingpage-greeting h1 {
  width: 90%;
  line-height: 50px;
  font-family: industry, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 11em;
  margin-top: 100px;
  margin-bottom: 100px;
}

#landingpage-greeting h2 {
  line-height: 50px;
  font-family: industry, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 5.8em;
}

/* MENU */

#menutitle {
  line-height: 100px;
  text-align: center;
  font-family: industry, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 3em;
  width: 100%;
  color: var(--yellow);
  background-color: var(--red);
}

#menugrid {
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  background-image: url(../images/dan-cook-501784-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.menuitem {
  margin: 5px;
  flex: 1 0 49%;
}

.menuitem a {
  text-decoration: none;
}

.menuitemcontent {
  background-color: var(--transwhite);
  height: 362px;
  transition-duration: var(--transition_duration);
}

.menuitemcontent:hover {
  background-color: white;
  height: 362px;
}

.menuitemcontent h2 {
  text-align: center;
  margin: 0;
  line-height: 362px;
  font-family: industry, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 6.8em;
  color: var(--darkgray);
}

/* SUB MENU */

#navseperator {
  height: 50px;
  width: 100%;
  background-color: var(--red);
}

#menunav a {
  transition-duration: var(--transition_duration)
}

#menunav {
  display: flex;
  text-align: center;
}

#menunav a {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  line-height: 100px;
  width: calc(100% / 4);
  display: block;
  color: white;
  background-color: var(--yellow);
}

#menunav a:hover {
  color: black;
  background-color: var(--yellow);
}

#foodwrapper {
  padding-top: 50px;
  width: 80%;
  height: 1300px;
  margin: auto;
}

.fooditem {
  padding-bottom: 50px;
  width: 50%;
  float: left;
}

.fooditem img {
  width: 80%;
  display: block;
  margin: auto;
}

.fooditemtext {
  font-family: 'Montserrat', sans-serif;
  width: 80%;
  margin: auto;
}

.fooditemtext p {
  font-family: 'Rubik', sans-serif;
}

/* ABOUT */

#aboutwrapper {
  background-image: url(../images/benjamin-zanatta-545376-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.abouttitle {
  height: 200px;
  display: block;
  margin: auto;
  width: 80%;
  line-height: 200px;
  text-align: center;
  background-color: var(--transwhite);
}

.abouttitle h1 {

  font-family: industry, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 5em;
  color: var(--yellow);
}

#profiles {
  margin: auto auto 50px auto;
  width: 80%;
  height: 1500px;
  background-color: var(--transwhite)

}

.profilephoto {
  width: 15%;
  border-radius: 300px;
  border: 5px var(--red) solid;
  display: block;
  margin: auto;

}

.profilephotowrapper {
  float: left;
  width: 100%;
  padding: 20px 0 20px 0;
}

.profilecontent {
  margin: 5%;
  font-family: 'Playfair Display', serif;
  font-size: 2em;
  color: var(--red);
}

#aboutvision {
  width: 70%;
  padding: 0 5% 5% 5%;
  font-family: 'Playfair Display', serif;
  font-size: 2em;
  color: var(--red);
  margin: auto;
  background-color: var(--transwhite);
}

#demosection {
  width: 70%;
  padding: 0 5% 5% 5%;
  font-family: 'Playfair Display', serif;
  font-size: 2em;
  color: var(--red);
  margin: auto;
  background-color: var(--transwhite);
}

@media only screen and (max-width: 1000px) {

  nav {
    display: block;
    text-align: center;
  }

  nav a {
    width: 100%;
  }

  #landingpage-greeting {
    padding: 0;
    height: 300px;
    width: 100%;
    background-color: var(--transwhite);
    color: #2c2c2c;
  }

  #landingpage-greeting h1 {
    padding: 0;
    margin: 0;
    line-height: 200px;
    font-size: 6em;
  }
  
  #landingpage-greeting h2 {
    padding: 0;
    margin: 0;
    line-height: 0;
    font-size: 3.2em;
  }

  #menutitle { font-size: 1.5em; }
  .menuitemcontent h2 { font-size: 3em; }
  .fooditem { width: 100%; }
  #foodwrapper { height: 2300px; }
  #menunav { display: block; }
  #menunav a { width: 100%; }
  .abouttitle h1 { font-size: 3em; }
  .profilephoto { width: 50%; }
  #profiles { height: 2400px; }

  

}